{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ include('post2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_post2_index') }}">back to list</a>

    {{ include('post2/_delete_form.html.twig') }}
{% endblock %}
